.App {
  text-align: center;
  background-color:white;
}
@media screen and (max-width: 600px) {
  .imageContainer{
    width: 600px;
    height: 600px;
    background-image: url("../../responsive/src/assets/mobileBanner.png");
  }
}

@media screen and (min-width: 600px) {
  .imageContainer{
    height: 650px;
    background-image: url("../../responsive/src/assets/desktopBanner.png");
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardContainer{
   padding-top: 30px;
   padding-right: 10%;
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

